.mainDiv {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.div {
    background: #262E38;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.text {
    font-weight: 400;
    font-size: 15px;
    color: #FC7614;
    font-family: 'Overpass';
}