.numberDiv {
    display: flex;
    justify-content: space-between;
  }
  .number {
    width: 51px;
    background-color: #262E38;
    border-radius: 50%;
    color: #7C8798;
    align-items: center;
    border: none;
    transition: .3s ease;
    height: 51px;
  }
  .number:hover {
    background: #FC7614;
    color: white;
  }